name: Test
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nocturlab/setup-vlang-action@master
        with:
          v-version: master
      - name: Run tests
        run: v test .
